{% extends 'fatama/base.html' %}

{% block title %}
    {{ block.super }} | {{ attendance.congress.title }}
{% endblock %}

{% block content %}
    <section class="section">
        <div class="container">
            <h3 class="title">Details zur Teilnahme</h3>
            <h5 class="subtitle">{{ attendance.congress.title }}</h5>

            <div class="columns">
                <div class="column">
                    <h5 class="title is-5">Tagung</h5>
                    <div class="block">
                        {% with attendance.congress as congress %}
                            <p>
                                <span class="icon-text">
                                    <span class="icon">
                                        <i class="fa-solid fa-flag"></i>
                                    </span>
                                    <span>{{ congress.title }}</span>
                                </span>
                            </p>
                            <p>
                                <span class="icon-text">
                                    <span class="icon">
                                        <i class="fa-solid fa-location-pin"></i>
                                    </span>
                                    <span>{{ congress.location }}</span>
                                </span>
                            </p>
                            <p>
                                <span class="icon-text">
                                    <span class="icon">
                                        <i class="fa-solid fa-calendar"></i>
                                    </span>
                                    <span>{{ congress.year }}</span>
                                </span>
                            </p>
                        {% endwith %}
                    </div>
                </div>

                <div class="column">
                    <h5 class="title is-5">Dein Gremium</h5>
                    <div class="block">
                        {% with attendance.council as council %}
                            <p>
                                <span class="icon-text">
                                    <span class="icon">
                                        <i class="fa-solid fa-building-columns"></i>
                                    </span>
                                    <span>{{ user.council.university }}</span>
                                </span>
                            </p>
                            <p>
                                <span class="icon-text">
                                    <span class="icon">
                                        <i class="fa-solid fa-people-group"></i>
                                    </span>
                                    <span>{{ user.council.name }}</span>
                                </span>
                            </p>
                        {% endwith %}
                    </div>
                </div>
            </div>

            {% if attendance.seats == 0 %}
                <article class="message is-danger">
                    <div class="message-header">
                        Keine Plätze verfügbar
                    </div>
                    <div class="message-body">
                        Es wurden noch keine Teilnehmerplätze für dein Gremium freigeschaltet. Du wirst per E-Mail
                        benachrichtigt, sobald Plätze zur Verfügung stehen.
                    </div>
                </article>
            {% elif attendance.remaining_seats == 0 %}
                <article class="message is-warning">
                    <div class="message-header">
                        Alle Plätze belegt
                    </div>
                    <div class="message-body">
                        Du hast alle verfügbaren Teilnehmerplätze für dein Gremium aufgebraucht. Es kann sein, dass die
                        Vergabe weiterer Plätze aufgrund von ungenutzten Plätzen anderer Gremien erfolgt. Wenn weitere
                        Plätze für dein Gremium freigeschaltet werden, wirst du erneut per E-Mail darüber informiert.
                    </div>
                </article>
            {% else %}
                <article class="message is-success">
                    <div class="message-header">
                        Plätze verfügbar
                    </div>
                    <div class="message-body">
                        <div class="block">
                            Du hast noch nicht alle Plätze aufgebraucht. Melde gerne weitere Teilnehmer für die Tagung
                            an. <strong>Die Anmeldung der Teilnehmer ist verbindlich.</strong> Stelle bitte vorher
                            sicher, dass die Personen auch wirklich teilnehmen können. Sollte dein Gremium nicht alle
                            Plätze benötigen, werden die übrigen Plätze an andere Gremien vergeben. Hierzu wird es
                            eine gesonderte Mitteilung geben, sobald die ungenutzten Plätze neu vergeben werden.
                        </div>
                        <div class="block">
                            <span class="icon-text">
                                <span class="icon has-text-danger">
                                    <i class="fa-solid fa-exclamation fa-lg"></i>
                                </span>
                                <span>
                                    Vergiss bitte nicht, dich ebenfalls als Teilnehmer anzulegen, falls du auch zur
                                    Tagung mitfahren möchtest.
                                </span>
                            </span>
                        </div>
                        <div class="buttons">
                            <a href="{% url 'congresses:create_participant' attendance.pk %}"
                               class="button is-success">
                                Teilnehmer hinzufügen
                            </a>
                        </div>
                    </div>
                </article>
            {% endif %}

            <h5 class="title is-5">Personen {{ attendance.participant_set.count }}/{{ attendance.seats }}</h5>

            <div class="columns is-multiline">
                {% for participant in attendance.participant_set.all %}
                    <div class="column is-one-quarter">
                        <div class="card">
                            <header class="card-header">
                                <p class="card-header-title">{{ participant.full_name }}</p>
                            </header>
                            <div class="card-content">
                                {% if participant.portrait %}
                                    {% with participant.portrait as portrait %}
                                        <p>
                                            <span class="icon-text">
                                                <span class="icon">
                                                    <i class="fa-solid fa-seedling"></i>
                                                </span>
                                                <span>{{ portrait.get_diet_display }}</span>
                                            </span>
                                        </p>
                                        <p>
                                            <span class="icon-text">
                                                <span class="icon">
                                                    <i class="fa-solid fa-ban"></i>
                                                </span>
                                                <span>{{ portrait.intolerances|default:"Keine Unverträglichkeiten" }}</span>
                                            </span>
                                        </p>
                                        <p>
                                            <span class="icon-text">
                                                <span class="icon">
                                                    <i class="fa-solid fa-shirt"></i>
                                                </span>
                                                <span>{{ portrait.get_size_display }}</span>
                                            </span>
                                        </p>
                                        <p>
                                            <span class="icon-text">
                                                <span class="icon">
                                                    <i class="fa-solid fa-ticket"></i>
                                                </span>
                                                <span>{{ portrait.get_railcard_display }}</span>
                                            </span>
                                        </p>
                                    {% endwith %}
                                {% else %}
                                    <p class="is-italic">Kein Portrait vorhanden</p>
                                {% endif %}
                                {% if participant.order_set.count > 0 %}
                                    <p>
                                        <span class="icon-text">
                                            <span class="icon has-text-success">
                                                <i class="fa-solid fa-circle-check"></i>
                                            </span>
                                            <span>Exkursion</span>
                                        </span>
                                    </p>
                                {% endif %}
                            </div>
                            <footer class="card-footer">
                                {% if not participant.portrait %}
                                    <a href="{% url 'congresses:create_portrait' participant.pk %}"
                                       class="card-footer-item">
                                        <span class="icon">
                                            <i class="fa-solid fa-plus"></i>
                                        </span>
                                        <span>Portrait</span>
                                    </a>
                                {% endif %}
                                {% if participant.order_set.count == 0 %}
                                    <a href="{% url 'congresses:create_order' participant.pk %}"
                                       class="card-footer-item">
                                        <span class="icon">
                                            <i class="fa-solid fa-plus"></i>
                                        </span>
                                        <span>Exkursion</span>
                                    </a>
                                {% endif %}
                            </footer>
                        </div>
                    </div>
                {% empty %}
                    <div class="column is-full">
                        <article class="message is-info">
                            <div class="message-body">
                                Du hast noch keine Teilnehmer angemeldet
                            </div>
                        </article>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>
{% endblock %}
