{% extends 'fatama/base.html' %}

{% block title %}
    {{ block.super }} | Zur Tagung anmelden
{% endblock %}

{% block content %}
    <section class="section">
        <div class="container is-max-desktop">
            <h3 class="title">Zur Tagung anmelden</h3>

            <p class="block">
                Bitte bestätige, dass dein Gremium <strong>{{ user.council }}</strong>
                an der Tagung <strong>{{ congress.title }} (FaTaMa {{ congress.year }})</strong> teilnehmen wird.
            </p>

            <form method="post">
                {% csrf_token %}

                {{ form }}

                <div class="field is-grouped">
                    <div class="control">
                        <button type="submit" class="button is-success">Anmelden</button>
                    </div>
                    <div class="control">
                        <a href="{% url 'congresses:congress_detail' congress.year %}"
                           class="button is-danger">Abbrechen</a>
                    </div>
                </div>
            </form>
        </div>
    </section>
{% endblock %}
