{% extends 'fatama/base.html' %}

{% block content %}
    <div class="container pt-3">
        <nav class="breadcrumb" aria-label="breadcrumbs">
            <ul>
                {% block breadcrumbs %}
                    <li><a href="{% url 'congresses:congress-list' %}">Tagungen</a></li>
                    <li><a href="{% url 'congresses:congress-detail' congress.pk %}">{{ congress.title }}</a></li>
                {% endblock %}
            </ul>
        </nav>
    </div>

    {% block subcontent %}{% endblock %}
{% endblock %}
