{% extends 'fatama/base.html' %}

{% block title %}
    {{ block.super }} | {{ congress.title }}
{% endblock %}

{% block content %}
    <section class="section">
        <div class="container">
            <h3 class="title">{{ congress.title }}</h3>
            <h5 class="subtitle">{{ congress.location }}, {{ congress.year }}</h5>

            {% if congress.message %}
                <div class="block">
                    {{ congress.message }}
                </div>
            {% endif %}

            {% if user.council and attendance %}
                <article class="message is-success">
                    <div class="message-header">Details zur Anmeldung</div>
                    <div class="message-body">
                        <div class="block">
                            Eigene Teilnehmer für die Tagung anmelden und deren Informationen verwalten.
                        </div>
                        <div class="buttons">
                            <a href="{% url 'congresses:attendance_detail' attendance.pk %}" class="button is-success">
                                Details anzeigen
                            </a>
                        </div>
                    </div>
                </article>
            {% elif user.council %}
                <article class="message is-link">
                    <div class="message-header">Anmeldung möglich</div>
                    <div class="message-body">
                        <div class="block">
                            Du kannst dein Gremium für die Tagung anmelden. Teilnehmer und weitere Informationen
                            werden im nächsten Schritt hinzugefügt.
                        </div>
                        <div class="buttons">
                            <a href="{% url 'congresses:create_attendance' congress.year %}" class="button is-link">
                                Zur Tagung anmelden
                            </a>
                        </div>
                    </div>
                </article>
            {% else %}
                <article class="message is-warning">
                    <div class="message-header">
                        Anmeldung nicht möglich
                    </div>
                    <div class="message-body">
                        Dein Konto ist noch keinem Gremium zugewiesen. Bitte erstelle zuerst das Gremium, für welches
                        du die Anmeldung vornimmst.
                    </div>
                </article>
            {% endif %}

            <h4 class="title is-4">Teilnehmende Gremien</h4>
            <div class="columns is-multiline">
                {% regroup congress.attendance_set.all by council.university as university_list %}
                {% for university, attendance_list in university_list %}
                    <div class="column is-one-third">
                        <div class="box">
                            <p class="has-text-weight-bold">
                                <span class="icon-text">
                                    <span class="icon">
                                        <i class="fa-solid fa-university"></i>
                                    </span>
                                    <span>{{ university }}</span>
                                </span>
                            </p>
                            {% for attendance in attendance_list %}
                                <p>
                                    <span class="icon-text">
                                        <span class="icon">
                                            <i class="fa-solid fa-people-group fa-fw"></i>
                                        </span>
                                        <span>{{ attendance.council.name }}</span>
                                    </span>
                                </p>
                            {% endfor %}
                        </div>
                    </div>
                {% empty %}
                    <div class="column is-full">
                        <article class="message is-info">
                            <div class="message-body">
                                Es haben sich noch keine Gremien für diese Tagung angemeldet.
                            </div>
                        </article>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>
{% endblock %}
