{% extends 'fatama/base.html' %}

{% block content %}
    <section class="section">
        <div class="container">
            <h3 class="title">Teilnehmer</h3>

            <div class="columns is-multiline">
                {% for participant in participant_list %}
                    <div class="column is-one-quarter">
                        <div class="card">
                            <div class="card-content">
                                <p class="title is-4">{{ participant.full_name }}</p>
                            </div>
                        </div>
                    </div>
                {% empty %}
                    <div class="column is-half is-offset-one-quarter">
                        <article class="message is-info">
                            <div class="message-body">
                                Du hast noch keine Teilnehmer angemeldet.
                            </div>
                        </article>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>
{% endblock %}
