{% extends 'fatama/base.html' %}

{% block title %}
    {{ block.super }} | Teilnehmer anmelden
{% endblock %}

{% block content %}
    <section class="section">
        <div class="container is-max-desktop">
            <h3 class="title">Teilnehmer anmelden</h3>
            <h5 class="subtitle">{{ attendance.congress.title }}</h5>

            <article class="message is-info">
                <div class="message-body">
                    Die weiteren personenbezogen Informationen zu den Teilnehmern (Unverträglichkeiten, etc.) können
                    in einem späteren Schritt ergänzt werden.
                </div>
            </article>

            <form method="post">
                {% csrf_token %}

                {{ form }}

                <div class="field is-grouped">
                    <div class="control">
                        <button type="submit" class="button is-success">Hinzufügen</button>
                    </div>
                    <div class="control">
                        <a href="{% url 'congresses:attendance_detail' attendance.pk %}"
                           class="button is-danger">
                            Abbrechen
                        </a>
                    </div>
                </div>
            </form>
        </div>
    </section>
{% endblock %}
