{% extends 'congresses/attendance_detail.html' %}

{% block breadcrumbs %}
    {{ block.super }}
    <li><a href="{% url 'congresses:create-participant' attendance.pk %}">Person ergänzen</a></li>
{% endblock %}

{% block subcontent %}
    <section class="section">
        <div class="container">
            <div class="columns">
                <div class="column is-half is-offset-one-quarter">
                    <h3 class="title">Person ergänzen</h3>
                    <h5 class="subtitle">{{ attendance.council }}</h5>

                    <form method="post">
                        {% csrf_token %}

                        {{ form }}

                        <div class="field is-grouped">
                            <div class="control">
                                <button type="submit" class="button is-success">Hinzufügen</button>
                            </div>
                            <div class="control">
                                <a href="{% url 'congresses:attendance-detail' attendance.pk %}"
                                   class="button is-danger">
                                    Abbrechen
                                </a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
