{% extends 'congresses/base_congress.html' %}

{% block breadcrumbs %}
    {{ block.super }}
    <li class="is-active"><a>Teilnehmer</a></li>
{% endblock %}

{% block subcontent %}
    <section class="section">
        <div class="container">
            <a href="{% url 'congresses:create_participant' congress.pk %}"
               class="button is-primary is-pulled-right">
                Teilnehmer ergänzen
            </a>
            <h3 class="title">Teilnehmer</h3>

            {% include 'fatama/messages_snippet.html' %}

            <article class="message is-info">
                <div class="message-body">
                    Vergiss nicht, dich selbst ebenfalls als Teilnehmer anzulegen.
                </div>
            </article>

            <div class="columns is-multiline">
                {% for participant in participant_list %}
                    <div class="column is-one-quarter">
                        <div class="card">
                            <div class="card-content">
                                <p class="title is-4">{{ participant.full_name }}</p>
                                {% if participant.portrait %}
                                    {% with participant.portrait as portrait %}
                                        <p>{{ portrait.get_diet_display }}</p>
                                        <p>{{ portrait.intolerances }}</p>
                                        <p>{{ portrait.get_railcard_display }}</p>
                                    {% endwith %}
                                {% else %}
                                    <p class="is-italic">Kein Portrait vorhanden</p>
                                {% endif %}
                            </div>
                            <footer class="card-footer">
                                <a href="{% url 'congresses:create_portrait' participant.pk %}"
                                   class="card-footer-item">
                                    Portrait anlegen
                                </a>
                            </footer>
                        </div>
                    </div>
                {% empty %}
                    <div class="column is-half is-offset-one-quarter">
                        <article class="message is-info">
                            <div class="message-body">
                                Du hast noch keine Teilnehmer angemeldet.
                            </div>
                        </article>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>
{% endblock %}
