{% extends 'fatama/base.html' %}

{% block title %}
    {{ block.super }} | Gremium registrieren
{% endblock %}

{% block content %}
    <section class="section">
        <div class="container is-max-desktop">
            <h3 class="title">Gremium registrieren</h3>
            <h5 class="subtitle">Erstelle ein neues Gremium, welches dir zugeordnet wird</h5>

            <form method="post">
                {% csrf_token %}

                {{ form }}

                <div class="field is-grouped">
                    <div class="control">
                        <button type="submit" class="button is-primary">Erstellen</button>
                        <a href="{% url 'accounts:council_list' %}" class="button is-light">Abbrechen</a>
                    </div>
                </div>
            </form>
        </div>
    </section>
{% endblock %}
