{% extends 'accounts/base.html' %}

{% block subcontent %}
    <h3 class="title">Einladung erstellen</h3>

    <article class="message is-info">
        <div class="message-body">
            Jeder Empfänger erhält eine individuelle E-Mail mit persönlichem
            Link zur Registrierung. Der Link ist für {{ expiration }} Tage
            gültig und kann einmalig zur Registrierung verwendet werden.
        </div>
    </article>

    <form method="post">
        {% csrf_token %}

        {{ form }}

        <div class="field is-grouped">
            <div class="control">
                <button type="submit" class="button is-primary">Einladen</button>
            </div>
        </div>
    </form>
{% endblock %}
