{% extends 'accounts/base_page.html' %}

{% block content %}
    <p class="title">Anmelden</p>

    <form method="post">
        {% csrf_token %}

        {{ form }}

        <div class="field is-grouped">
            <div class="control">
                <button class="button is-primary" type="submit">Anmelden</button>
            </div>
            <div class="control">
                <a href="{% url 'accounts:password_reset' %}" class="button is-ghost">
                    Passwort vergessen?
                </a>
            </div>
        </div>
    </form>
{% endblock %}
