{% extends 'accounts/base_page.html' %}

{% block title %}
    {{ block.super }} | Passwort zurücksetzen
{% endblock %}

{% block content %}
    <div class="columns is-centered">
        <div class="column is-half">
            <h3 class="title">Passwort zurücksetzen</h3>

            <form method="post">
                {% csrf_token %}

                {{ form }}

                <div class="field is-grouped">
                    <div class="control">
                        <button type="submit" class="button is-primary">Link anfordern</button>
                    </div>
                    <div class="control">
                        <a class="button is-light" href="{% url 'accounts:login' %}">Abbrechen</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
