{% extends 'fatama/base.html' %}

{% block page %}
    <section class="section">
        <div class="container is-max-desktop">

            {% include 'fatama/messages.html' %}

            <h3 class="title">Registrieren</h3>

            <article class="message is-info">
                <div class="message-header">
                    <p>Persönliche Konten</p>
                </div>
                <div class="message-body">
                    Die Registrierung erfolgt als persönliches Konto. Funktionale Konten für gesamte Fachschaften sind
                    <strong>nicht</strong> vorgesehen. Es wird empfohlen, dass sich eine Person stellvertretend für
                    die Fachschaft registriert und als Reiseleiter auf der Tagung agiert. Die Person sollte
                    idealerweise ebenfalls zur Tagung mitfahren.
                </div>
            </article>

            <form method="post">
                {% csrf_token %}

                {{ profile_form }}

                {{ user_form }}

                {{ password_form }}

                <div class="field is-grouped">
                    <div class="control">
                        <button type="submit" class="button is-primary">Account erstellen</button>
                    </div>
                </div>
            </form>
        </div>
    </section>
{% endblock %}
