<nav class="navbar is-light" role="navigation" aria-label="main navigation">
    <div class="container">
        <div class="navbar-brand">
            <a class="navbar-item" href="/">FaTaMa {{ the_congress.year }}</a>

            <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="mainNavbar">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>

        <div id="mainNavbar" class="navbar-menu">
            {% if user.is_authenticated %}
            <div class="navbar-start">
                {% if the_congress %}
                    <a class="navbar-item" href="{% url 'congresses:congress_detail' the_congress.year %}">Tagung</a>
                {% else %}
                    <div class="navbar-item has-text-grey-light">
                        <p class="icon-text">
                            <span class="icon">
                                <i class="fa-solid fa-lock"></i>
                            </span>
                            <span>Tagung</span>
                        </p>
                    </div>
                {% endif %}
                <a class="navbar-item" href="{% url 'accounts:council_list' %}">Gremien</a>
                <a class="navbar-item" href="{% url 'workshops:workshop_list' %}">Seminare</a>
            </div>
            {% endif %}
            <div class="navbar-end">
                {% if user.is_authenticated %}
                    <a class="navbar-item" href="{% url 'accounts:profile' %}">Konto</a>
                {% else %}
                    <a class="navbar-item" href="{% url 'accounts:login' %}">Anmelden</a>
                {% endif %}
            </div>
        </div>
    </div>
</nav>
